@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-waifu-img {
  border-color: #ff66aa; /* Soft pink border when selected */
  box-shadow: 0 0 15px #ff66aa; /* Soft pink glow */
  transform: scale(1.1); /* Slightly larger */
}

.pinkglow{
    border-color: #ff66aa; /* Soft pink border when selected */
    box-shadow: 0 0 15px #ff66aa; /* Soft pink glow */
}

/* prevent css leaking */
#crx-root button {
  border-color: rgb(118, 118, 118);
  border-image: initial;
  border-style: outset;
  border-width: 2px;
  margin: 0;
  padding: 1px 6px;
}
